In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

### Loading Data

##### Heart Disease Dataset
Source: https://www.kaggle.com/ronitf/heart-disease-uci

1. age     
2. sex     
3. chest pain type (4 values)     
4. resting blood pressure     
5. serum cholestoral in mg/dl     
6. fasting blood sugar > 120 mg/dl    
7. resting electrocardiographic results (values 0,1,2)    
8. maximum heart rate achieved     
9. exercise induced angina     
10. oldpeak = ST depression induced by exercise relative to rest     
11. the slope of the peak exercise ST segment     
12. number of major vessels (0-3) colored by flourosopy     
13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect   
14. target: 0 = absence of heart disease; 1 = presence of heart disease

In [2]:
heart_disease_data = pd.read_csv('dataset/heart.csv')

heart_disease_data.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2,0
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3,0
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2,1
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3,0
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0

In [3]:
heart_disease_data.shape

(303, 14)

##### Describing the dataset

In [4]:
heart_disease_data.describe().transpose()

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
sex       303.0    0.683168   0.466011    0.0    0.0    1.0    1.0    1.0
cp        303.0    0.966997   1.032052    0.0    0.0    1.0    2.0    3.0
trestbps  303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.528053   0.525860    0.0    0.0    1.0    1.0    2.0
thalach   303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
exang     303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
slope     303.0    1.399340   0.616226    0.0    1.0    1.0    2.0    2.0
ca        303.0    0.729373   1.022606    0.0    0.0    0.0    1.0    4.0
thal      303.0    2.313531   0.612277    0.0    2.0    2.0    3.0    3.0
target    303.0    0.544554   0.498835    0.0    0.0    1.0    1.0    1.0

##### Splitting dataset in training and testing

In [5]:
X = heart_disease_data.drop('target', axis=1)
Y = heart_disease_data['target']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [6]:
x_train.shape, x_test.shape

((242, 13), (61, 13))

In [7]:
y_train.shape, y_test.shape

((242,), (61,))

##### Training the classification model

In [8]:
logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

##### Prediction using trained model

In [9]:
y_pred = logistic_model.predict(x_test)

y_pred

array([0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0])

In [10]:
import numpy as np

pred_results = pd.DataFrame({'y_test':pd.Series(np.array(y_test)),
                             'y_pred':pd.Series(y_pred)})

pred_results.sample(10)

    y_pred  y_test
29       1       1
32       1       1
24       0       1
28       1       1
34       1       1
11       1       1
47       0       0
38       0       1
54       1       1
56       0       0

##### Classification model accuracy

In [11]:
from sklearn.metrics import accuracy_score

print('Accuracy Score: ', accuracy_score(y_test, y_pred))

Accuracy Score:  0.8524590163934426